<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bk_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,2}}</string>
                <key>sourceSize</key>
                <string>{400,2}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{443,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,81}}</string>
                <key>sourceSize</key>
                <string>{443,81}</string>
            </dict>
            <key>correct.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>da.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,250},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>icon_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{105,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,74}}</string>
                <key>sourceSize</key>
                <string>{105,74}</string>
            </dict>
            <key>icon_level_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{105,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,74}}</string>
                <key>sourceSize</key>
                <string>{105,74}</string>
            </dict>
            <key>icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,250},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>icon_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>map_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{640,828}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,828}}</string>
                <key>sourceSize</key>
                <string>{640,828}</string>
            </dict>
            <key>option_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{581,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,207}}</string>
                <key>sourceSize</key>
                <string>{581,207}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{443,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,81}}</string>
                <key>sourceSize</key>
                <string>{443,81}</string>
            </dict>
            <key>question_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{581,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,574}}</string>
                <key>sourceSize</key>
                <string>{581,574}</string>
            </dict>
            <key>ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,250},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>select.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,627},{400,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,585}}</string>
                <key>sourceSize</key>
                <string>{400,585}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,161},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,78},{443,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,81}}</string>
                <key>sourceSize</key>
                <string>{443,81}</string>
            </dict>
            <key>touxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,161},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>touxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,161},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>touxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,161},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>touxiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,161},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>touxiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,161},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,250},{129,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,166}}</string>
                <key>sourceSize</key>
                <string>{129,166}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,250},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>batch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f41748a5f434c0bc477675e38f3ac2c:84e2a10dbeb74dd3e1bc35f5548b07dd:6e187d953c67f1ef1274b5c17a60cc2f$</string>
            <key>textureFileName</key>
            <string>batch.png</string>
        </dict>
    </dict>
</plist>
